* {
    padding: 4px;
    margin: 2px;
  }

  @font-face {
    font-family: 'Druk';
    src: url(../fonts/Druk\ Wide\ Bold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Aristotelica';
    src: url(../fonts/Aristotelica\ Display\ ExtraLight\ Trial.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Aristotelica2';
    src: url(../fonts/Aristotelica\ Display\ DemiBold\ Trial.ttf) format('truetype');
  }
  @font-face {
    font-family: 'EROTIQUE';
    src: url(../fonts/ErotiqueTrial-Regular.ttf) format('truetype');
  }


  /* ---------HEADER-------- */
  

  .logomenu{
    width: 11rem;
    height: 2.3rem;
    margin-right:35rem;
  }

  @media (max-width:700px) {
    .logomenu{
      width:8rem;
      height: 2rem;
      margin-right: 0rem;
    }
} 

@media (max-width:900px) and (min-width:700px){
  .logomenu{
    width:8rem;
    height: 2rem;
    margin-right:0rem;

  }
} 

  nav ul li a {
      color: white;
      font-family: 'Aristotelica2' ;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.3rem;
      transition: height 2s;
  }
  
 #navbarNav a:hover {
  color: rgb(238, 82, 25);
  }

  @media (min-width:1300px){
    #navbarNav{
      margin-right: 20rem;
  
    }
  } 


/*  ---------BODY-------- */


.html,body{
  height:100vh;
}

body {
  background-image: url(/imagesa/indexf_Mesa\ de\ trabajo\ 1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  text-align: center;
  font-family: 'Arial', Helvetica, sans-serif;
  color: white ;
}

h2{
  font-family: 'Druk' ;
  text-align: left;
}  



  /*  ---------INICIO-------- */

.iniciotexto{
    font-family: 'Druk';
    font-size: 5rem;
    color: rgb(98, 17, 249);
    margin-top: 8rem;
  }

  @media (max-width:700px) {
    .iniciotexto{
       font-size: 2.5rem;
    }
}
  
  h1 {
    animation-duration: 7s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
 }
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 .pantalla1 img {
   width: 90%;
 }  


.promof{
  padding: 100px;
  text-align: center;
}

.fechas{
  font-family: 'EROTIQUE';
  color: white;
  font-size: 3rem;
  margin-top: 6rem;
  text-align: center;
}

@media (max-width:700px) {
  .fechas{
     font-size: 1.5rem;
     margin-top: 0rem;
  }
}

#cards {
  width: 70rem;
  margin: 0 auto; 
  float: none;
  margin-bottom: 1rem;
  padding-top: 10rem;
}

#card_1 {
  background-color:rgb(255, 110, 27);
  font-family: 'Druk'; 
}

#card_1:hover, #card_2:hover, #card_3:hover{ 
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all .9s ease;
}

#card_2 {
  background-color:rgb(202, 27, 255);
  font-family: 'Druk'; 
}

#card_3 {
  background-color:rgb(114, 27, 255);
  font-family: 'Druk';
}

#card_3 a, #card_2 a, #card_1 a {
  color: black;
  text-decoration: none;
}

@media (max-width:700px) {
  #cards {
    width: 20rem
 }
} 



#boton_inicio_contacto {
  background-color: rgb(191, 97, 253);
  color: white;
}

.btn{
  margin-top: 3rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all .9s ease;

}


/*  ---------EVENTOS-------- */

  #evento{
  color: rgb(191, 97, 253);
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Druk', sans-serif;
  }

  #eventos_tabla {
    margin-top: 2rem;
    border-radius: 10px;
    font-family: 'lato';
    font-size: 1rem;
    color: white;

  }

  @media (max-width:700px) {
     #eventos_tabla {
     font-size: 0.9rem;
    }

    #carouselExampleIndicators {
      margin-bottom: 6rem;
    }
} 

#carouselExampleIndicators {
  margin-top: 6rem;
}


/*  ---------DISCOGRAFÍA-------- */

  .discografía{
    color: rgb(191, 97, 253);
    font-size: 30px;
    font-family: 'Druk', sans-serif;
    margin-left: -3rem;
    margin-top: 2rem;
  }
  
  @media (max-width:700px) {
    .discografía {
      margin-left: 0rem;
   }
} 

  #discos{
  margin-bottom: -190px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-areas: "rep1" "rep2" "rep3" "rep4";
  grid-template-rows: 80px 80px;
  grid-column-gap: 20px;
  grid-row-gap: 340px;
  justify-content: center;
}


@media (max-width:700px) {
  #discos {
    grid-template-columns: 200px 200px;
    grid-template-areas: "rep1" "rep2" "rep3" "rep4";
    grid-template-rows: 80px 80px;
    grid-column-gap: 20px;
    grid-row-gap: 340px;
 }
} 



.rep1 {
    grid-row: 1; 
    grid-column: 1;
  }

.rep2 {
  grid-row: 2; 
  grid-column: 1;
}

.rep3 {
  grid-row: 1; 
  grid-column: 2;
}

.rep4 {
  grid-row: 2; 
  grid-column: 2;
}



/*  ---------BIOGRAFÍA-------- */

.biografia {  
 display: flex;
 flex-direction: row;
 align-content:space-between;
}

.biog{
  color: rgb(191, 97, 253);
  font-family: 'Druk';
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 2rem;
}

.bio{
  text-align: left;
  text-justify: newspaper;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 0.89rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

img {
  height: 60%;
  width: 60%;
}

@media (max-width:700px) {

  img {
    height: 100%;
    width: 100%;
 }

 .bio{
  margin-left: 0rem;
 }

 .biografia {
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
 }
} 


/* ---------CONTACTO-------- */


.contact{
  color: rgb(191, 97, 253);
  font-size: 2rem;
  font-family: 'Druk';
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.botones_contacto :hover{
  background-color: rgb(197, 130, 238);
}

#botones {
 padding-bottom: 4rem;
}

/* ---------FOOTER-------- */

#logo_footer{
  width: 8rem;
  height: 2rem;
}

.menu_footer ul li { 
 display: inline; 
 text-align: center;
 font-family: 'Aristotelica';
 color: white;

}

.menu_footer a:hover {
  color: rgb(238, 82, 25);
  }

.menu_footer {
  padding-left: 30rem;
  padding-top: 1rem;
}

.menu_footer a{
 text-decoration: none;
 color: white;
}

footer {
  padding-bottom: 3rem;
} 

@media (max-width:700px) {
  .menu_footer {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
  }
 }